main article {
    ul, ol {
        list-style-position: unset;
    }
}
div.posts article.post h3 a {
    color: inherit;
}
div.posts article.post h3 a:hover {
    text-decoration: underline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

td,
th {
  padding: 0;
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table th {
  font-weight: bold;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

nav {
  /* max-width: 40rem; */
  max-width: 20rem;
}

main {
  /* width: 48vw; */
  /* padding: 4vw; */
  /* max-width: 55rem; */
  flex-shrink: 1;
  margin: 4vw;
  flex: 1 1 48vw;
  min-width: 48vw;
  width: unset;
  padding: unset;
  max-width: unset;
}
div.equation {
  overflow: auto;
}
code {
  font-size: 0.85em;
  hyphens: none;
}
#taxonomies ul {
  flex-flow: row wrap;
}
#taxonomies ul li {
  margin: 0 0.25em;
}
.post.preview .post__summary h1 {
  display: none;
}

.page-ref-num {
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
}
blockquote {
  border-left: 0.3em solid;
  padding-left: 1em;
}