{% extends "section.html" %}

{% import "macros/remark_comments.html" as rc_macro %}

{% block content %}

<h1>{{ section.title }}</h1>

<div id="taxonomies" class="taxonomies-section">
  {% if section.extra.taxonomies.authors %}
    <ul>
    {% for author in section.extra.taxonomies.authors %}
      <li><address>{{ author }}</address></li>
    {% endfor %}
   </ul>
  {% endif %}

  {% if section.extra.taxonomies.tags %}
    <ul>
    {% for tag in section.extra.taxonomies.tags %}
      <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" >#{{ tag }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
</div>

<article>{{ section.content | safe }}</article>

{% if section.extra.updated %}
  <div class="updated">
    <a href="https://github.com/Garados007/Mabron.Homepage/commits/main/content/{{ page.relative_path }}" target="_blank">
      Aktualisiert am:
      <time pubdate datetime="{{ section.extra.updated | date(format='%Y-%m-%d') }}">{{ section.extra.updated | date(format="%d.%m.%Y") }}</time>
    </a>
  </div>
{% endif %}

{{ rc_macro::remark_comments() }}

{% endblock content %}
